.page-container {
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  color: white;

  .page-content {
    min-width: 840px;
    max-width: 1280px;
    padding: 20px;
    box-sizing: border-box;
    max-height: 100%;

    display: flex;
    flex-direction: column;
  }
}

.page-in-mobile {
  @media screen and (max-width: 840px) {
    .page-content {
      height: 100%;
      min-width: unset;
    }
  }
}

.page-in-mobile {
  @media screen and (max-height: 480px) {
    &.page-container {
      height: unset;
      .page-content {
        height: 100%;
        min-width: unset;
      }
    }
  }
}
