.believe-table {
  max-width: 100%;

  overflow-y: scroll;
  overflow-y: overlay;
  .table-item {
    display: flex;
    .table-item-cell {
      width: 25%;
      box-sizing: border-box;
      border: 1px solid white;
      padding: 4px 4px;
    }
  }
}

.believe-tips {
  b {
    margin: 0 4px;
    color: rgb(252, 107, 107);
  }
}
